In [11]:
import pandas as pd

# Step 1: Load Data
df_final_web_data_pt_1 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_1.txt')
df_final_web_data_pt_2 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_2.txt')

# Step 2: Inspect the DataFrames to find common columns
print(df_final_web_data_pt_1.columns)
print(df_final_web_data_pt_2.columns)

# Example merge based on a common column (e.g., 'client_id')
merged_df = pd.merge(df_final_web_data_pt_1, df_final_web_data_pt_2, on='client_id', how='inner')

# Check the result of the merge
print(merged_df.head())

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
   client_id           visitor_id_x                    visit_id_x  \
0     438567  923318467_50708963627  711884648_43943594307_585328
1     438567  923318467_50708963627  711884648_43943594307_585328
2     438567  923318467_50708963627  711884648_43943594307_585328
3     438567  923318467_50708963627  711884648_43943594307_585328
4     438567  923318467_50708963627  711884648_43943594307_585328

  process_step_x          date_time_x           visitor_id_y  \
0         step_1  2017-04-05 16:06:35  694624747_14580652583
1         step_1  2017-04-05 16:06:35  694624747_14580652583
2         step_1  2017-04-05 16:06:35  694624747_14580652583
3         step_1  2017-04-05 16:06:35  694624747_14580652583
4         step_1  2017-04-05 16:06:35  694624747_14580652583

                     visit_id_y process_step_y          date_time_y
0  787486191_38787201768_120150        confirm  2017-06-08 16:46:39
1  787486191_38787201768_120150         step_3  2017-06-08 16:46:08
2  787486191_38787201768_120150         step_2  2017-06-08 16:45:09
3  787486191_38787201768_120150         step_1  2017-06-08 16:44:30
4  787486191_38787201768_120150          start  2017-06-08 16:44:07

In [12]:
merged_df.info()
merged_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160786 entries, 0 to 160785
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   client_id       160786 non-null  int64
 1   visitor_id_x    160786 non-null  object
 2   visit_id_x      160786 non-null  object
 3   process_step_x  160786 non-null  object
 4   date_time_x     160786 non-null  object
 5   visitor_id_y    160786 non-null  object
 6   visit_id_y      160786 non-null  object
 7   process_step_y  160786 non-null  object
 8   date_time_y     160786 non-null  object
dtypes: int64(1), object(8)
memory usage: 11.0+ MB

          client_id
count  1.607860e+05
mean   5.028800e+06
std    2.844869e+06
min    1.643000e+03
25%    2.565627e+06
50%    5.100333e+06
75%    7.409605e+06
max    9.999729e+06

In [13]:
# Step 3: Check for Missing Values
merged_df.isnull().sum()

client_id         0
visitor_id_x      0
visit_id_x        0
process_step_x    0
date_time_x       0
visitor_id_y      0
visit_id_y        0
process_step_y    0
date_time_y       0
dtype: int64

In [14]:
# Export the merged DataFrame to CSV
merged_df.to_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\clean\merged_data.csv', index=False)

print("File has been exported to merged_data.csv")

File has been exported to merged_data.csv