In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [3]:
df_1 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\clean\df_merged.csv')
df_2 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_1.txt')
df_3 = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group_work\group_project_week5_6\second_project\data\raw\df_final_web_data_pt_2.txt')
merged_df = pd.concat([df_2, df_3], axis=0)

df_merged = df_1.merge(merged_df, on='client_id', how='inner')
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'])
df_merged

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13
1,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50
2,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45
3,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08
4,836976,6.0,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,Test,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321182,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_2,2017-03-30 23:59:15
321183,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,step_1,2017-03-30 23:58:51
321184,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:58:40
321185,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-30 23:55:11
321186,7468138,18.0,222.0,61.0,Female,3.0,209278.15,0.0,3.0,Test,317123960_46820919455,769876461_30381166055_830233,start,2017-03-31 00:16:12

In [4]:
control_group = df_merged[df_merged['variation'] == 'Control']
test_group = df_merged[df_merged['variation'] == 'Test']

#Sort control group
control_group_sorted = control_group.sort_values(by=['client_id', 'visit_id', 'process_step', 'date_time'])

# Sort test group
test_group_sorted = test_group.sort_values(by=['client_id', 'visit_id', 'process_step', 'date_time'])

In [5]:
# Function to get latest starts
def filter_latest_starts(group_df):
    starts_only = group_df[group_df['process_step'] == 'start']
    latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]
    # Merge back to get the full process after the last start
    return df_merged.merge(latest_starts[['client_id', 'date_time']], on=['client_id', 'date_time'], how='inner')

# Apply to both groups
filtered_control = filter_latest_starts(control_group)
filtered_test = filter_latest_starts(test_group)

#Check if it works
client_total_entries = df_merged[df_merged["client_id"] == 2304905]
display(client_total_entries)
client_last_start = filtered_control[filtered_control['client_id'] == 2304905 ]
display(client_last_start)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
11,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,confirm,2017-05-21 11:07:16
12,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_3,2017-05-21 11:04:53
13,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_2,2017-05-21 11:04:04
14,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,step_1,2017-05-21 11:03:31
15,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:03:25
16,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:02:21

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,balance,calls_6_mnth,logons_6_mnth,variation,visitor_id,visit_id,process_step,date_time
0,2304905,7.0,94.0,58.0,Unknown,2.0,110860.3,6.0,9.0,Control,336210275_56978226960,724930510_65323235593_692754,start,2017-05-21 11:03:25

In [6]:
# filter to get the latest start for each client
starts_only = df_merged[df_merged['process_step'] == 'start']
latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]

# filter to get the last confirmation for each client
confirmation_only = df_merged[df_merged['process_step'] == 'confirm']
latest_confirms = confirmation_only.loc[confirmation_only.groupby('client_id')['date_time'].idxmax()]

# merge to have both latest start and confirm per client
# Confirming datetime columns are of Timestamp type in merged DataFrame
latest_start_confirms = pd.merge(latest_starts, latest_confirms, on='client_id', suffixes=('_start', '_confirm'))

# calculate process duration for those who completed the process
latest_start_confirms['process_duration'] = latest_start_confirms['date_time_confirm'] - latest_start_confirms['date_time_start']

# Scalculate the average duration and compare with mode and mean
print("Average duration:", latest_start_confirms['process_duration'].mean())
print("Duration mode:", latest_start_confirms['process_duration'].mode())
print("Duration median:", latest_start_confirms['process_duration'].median())

Average duration: 0 days 22:42:16.093893650
Duration mode: 0   0 days 00:02:16
Name: process_duration, dtype: timedelta64[ns]
Duration median: 0 days 00:03:48

In [7]:
import pandas as pd

# Ensure 'date_time' is of datetime type for both start and confirm stages
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Check the columns in df_merged to verify the structure
print(df_merged.columns)

# Split the dataset into control and test groups using the 'variation' column
control_group = df_merged[df_merged['variation'] == 'control']
test_group = df_merged[df_merged['variation'] == 'test']

# Function to calculate process duration and statistics
def calculate_duration_stats(group_df):
    # Filter to get the latest start for each client
    starts_only = group_df[group_df['process_step'] == 'start']
    latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]

    # Filter to get the last confirmation for each client
    confirmation_only = group_df[group_df['process_step'] == 'confirm']
    latest_confirms = confirmation_only.loc[confirmation_only.groupby('client_id')['date_time'].idxmax()]

    # Merge to have both latest start and confirm per client
    latest_start_confirms = pd.merge(latest_starts, latest_confirms, on='client_id', suffixes=('_start', '_confirm'))

    # Calculate process duration for those who completed the process
    latest_start_confirms['process_duration'] = latest_start_confirms['date_time_confirm'] - latest_start_confirms['date_time_start']

    # Drop rows with NaT values in process_duration
    latest_start_confirms = latest_start_confirms.dropna(subset=['process_duration'])

    # Convert process_duration to numeric (seconds) for statistical calculations
    latest_start_confirms['process_duration_seconds'] = latest_start_confirms['process_duration'].dt.total_seconds()

    # Calculate average, mode, and median durations
    avg_duration = pd.to_timedelta(latest_start_confirms['process_duration_seconds'].mean(), unit='s')
    
    # Check if mode is non-empty before accessing the first element
    mode_duration = latest_start_confirms['process_duration_seconds'].mode()
    if not mode_duration.empty:
        mode_duration = pd.to_timedelta(mode_duration[0], unit='s')
    else:
        mode_duration = pd.to_timedelta(0, unit='s')  # Default to zero if no mode is found
    
    median_duration = pd.to_timedelta(latest_start_confirms['process_duration_seconds'].median(), unit='s')

    return avg_duration, mode_duration, median_duration

# Calculate statistics for control group
control_avg_duration, control_mode_duration, control_median_duration = calculate_duration_stats(control_group)

# Calculate statistics for test group
test_avg_duration, test_mode_duration, test_median_duration = calculate_duration_stats(test_group)

# Print results for control group
print("Control Group Statistics:")
print(f"Average duration: {control_avg_duration}")
print(f"Duration mode: {control_mode_duration}")
print(f"Duration median: {control_median_duration}")
print("\n")  # Add a newline for better separation

# Print results for test group
print("Test Group Statistics:")
print(f"Average duration: {test_avg_duration}")
print(f"Duration mode: {test_mode_duration}")
print(f"Duration median: {test_median_duration}")

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gender',
       'num_accts', 'balance', 'calls_6_mnth', 'logons_6_mnth', 'variation',
       'visitor_id', 'visit_id', 'process_step', 'date_time'],
      dtype='object')
Control Group Statistics:
Average duration: NaT
Duration mode: 0 days 00:00:00
Duration median: NaT


Test Group Statistics:
Average duration: NaT
Duration mode: 0 days 00:00:00
Duration median: NaT

In [8]:
import pandas as pd

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Function to calculate process duration and statistics with outlier removal
def calculate_duration_stats(group_df):
    # Filter to get the latest start for each client
    starts_only = group_df[group_df['process_step'] == 'start']
    latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]

    # Filter to get the last confirmation for each client
    confirmation_only = group_df[group_df['process_step'] == 'confirm']
    latest_confirms = confirmation_only.loc[confirmation_only.groupby('client_id')['date_time'].idxmax()]

    # Merge to have both latest start and confirm per client
    latest_start_confirms = pd.merge(latest_starts, latest_confirms, on='client_id', suffixes=('_start', '_confirm'))

    # Calculate process duration for those who completed the process
    latest_start_confirms['process_duration'] = latest_start_confirms['date_time_confirm'] - latest_start_confirms['date_time_start']

    # Drop rows with NaT values in process_duration
    latest_start_confirms = latest_start_confirms.dropna(subset=['process_duration'])

    # Convert process_duration to numeric (seconds) for statistical calculations
    latest_start_confirms['process_duration_seconds'] = latest_start_confirms['process_duration'].dt.total_seconds()

    # Step 1: Detect outliers using IQR
    Q1 = latest_start_confirms['process_duration_seconds'].quantile(0.25)
    Q3 = latest_start_confirms['process_duration_seconds'].quantile(0.75)
    IQR = Q3 - Q1

    # Define the outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Step 2: Filter out the outliers
    filtered_df = latest_start_confirms[(latest_start_confirms['process_duration_seconds'] >= lower_bound) & 
                                        (latest_start_confirms['process_duration_seconds'] <= upper_bound)]

    # Step 3: Calculate the average, mode, and median durations
    avg_duration = pd.to_timedelta(filtered_df['process_duration_seconds'].mean(), unit='s')
    
    # Check if mode is non-empty before accessing the first element
    mode_duration = filtered_df['process_duration_seconds'].mode()
    if not mode_duration.empty:
        mode_duration = pd.to_timedelta(mode_duration[0], unit='s')
    else:
        mode_duration = pd.to_timedelta(0, unit='s')  # Default to zero if no mode is found
    
    median_duration = pd.to_timedelta(filtered_df['process_duration_seconds'].median(), unit='s')

    return avg_duration, mode_duration, median_duration

# Calculate statistics for the entire dataset (with outlier removal)
avg_duration, mode_duration, median_duration = calculate_duration_stats(df_merged)

# Print results
print("Overall Statistics (With Outliers Removed):")
print(f"Average duration: {avg_duration}")
print(f"Duration mode: {mode_duration}")
print(f"Duration median: {median_duration}")

Overall Statistics (With Outliers Removed):
Average duration: 0 days 00:04:18.338016588
Duration mode: 0 days 00:02:16
Duration median: 0 days 00:03:33

In [9]:
import pandas as pd

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Function to calculate process duration and statistics with outlier removal for each group
def calculate_duration_stats(group_df):
    # Filter to get the latest start for each client
    starts_only = group_df[group_df['process_step'] == 'start']
    latest_starts = starts_only.loc[starts_only.groupby('client_id')['date_time'].idxmax()]

    # Filter to get the last confirmation for each client
    confirmation_only = group_df[group_df['process_step'] == 'confirm']
    latest_confirms = confirmation_only.loc[confirmation_only.groupby('client_id')['date_time'].idxmax()]

    # Merge to have both latest start and confirm per client
    latest_start_confirms = pd.merge(latest_starts, latest_confirms, on='client_id', suffixes=('_start', '_confirm'))

    # Calculate process duration for those who completed the process
    latest_start_confirms['process_duration'] = latest_start_confirms['date_time_confirm'] - latest_start_confirms['date_time_start']

    # Drop rows with NaT values in process_duration
    latest_start_confirms = latest_start_confirms.dropna(subset=['process_duration'])

    # Convert process_duration to numeric (seconds) for statistical calculations
    latest_start_confirms['process_duration_seconds'] = latest_start_confirms['process_duration'].dt.total_seconds()

    # Step 1: Detect outliers using IQR
    Q1 = latest_start_confirms['process_duration_seconds'].quantile(0.25)
    Q3 = latest_start_confirms['process_duration_seconds'].quantile(0.75)
    IQR = Q3 - Q1

    # Define the outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Step 2: Filter out the outliers
    filtered_df = latest_start_confirms[(latest_start_confirms['process_duration_seconds'] >= lower_bound) & 
                                        (latest_start_confirms['process_duration_seconds'] <= upper_bound)]

    # Step 3: Calculate the average, mode, and median durations
    avg_duration = pd.to_timedelta(filtered_df['process_duration_seconds'].mean(), unit='s')
    
    # Check if mode is non-empty before accessing the first element
    mode_duration = filtered_df['process_duration_seconds'].mode()
    if not mode_duration.empty:
        mode_duration = pd.to_timedelta(mode_duration[0], unit='s')
    else:
        mode_duration = pd.to_timedelta(0, unit='s')  # Default to zero if no mode is found
    
    median_duration = pd.to_timedelta(filtered_df['process_duration_seconds'].median(), unit='s')

    return avg_duration, mode_duration, median_duration

# Split the dataset into control and test groups based on the 'variation' column
control_group = df_merged[df_merged['variation'] == 'control']
test_group = df_merged[df_merged['variation'] == 'test']

# Calculate statistics for control group
control_avg_duration, control_mode_duration, control_median_duration = calculate_duration_stats(control_group)

# Calculate statistics for test group
test_avg_duration, test_mode_duration, test_median_duration = calculate_duration_stats(test_group)

# Print results for control group
print("Control Group Statistics (With Outliers Removed):")
print(f"Average duration: {control_avg_duration}")
print(f"Duration mode: {control_mode_duration}")
print(f"Duration median: {control_median_duration}")

# Print results for test group
print("\nTest Group Statistics (With Outliers Removed):")
print(f"Average duration: {test_avg_duration}")
print(f"Duration mode: {test_mode_duration}")
print(f"Duration median: {test_median_duration}")

Control Group Statistics (With Outliers Removed):
Average duration: NaT
Duration mode: 0 days 00:00:00
Duration median: NaT

Test Group Statistics (With Outliers Removed):
Average duration: NaT
Duration mode: 0 days 00:00:00
Duration median: NaT

In [11]:
import pandas as pd

df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Display the results
print(test_group_completion_times)

        client_id process_step           date_time      next_step_time  \
255388        555        start 2017-04-15 12:57:56 2017-04-15 12:58:03
255387        555       step_1 2017-04-15 12:58:03 2017-04-15 12:58:35
255386        555       step_2 2017-04-15 12:58:35 2017-04-15 13:00:14
255385        555       step_3 2017-04-15 13:00:14 2017-04-15 13:00:34
9749          647        start 2017-04-12 15:41:28 2017-04-12 15:41:35
...           ...          ...                 ...                 ...
310089    9999729        start 2017-05-08 16:08:25 2017-05-08 16:08:30
310088    9999729       step_1 2017-05-08 16:08:30 2017-05-08 16:08:40
310087    9999729       step_2 2017-05-08 16:08:40 2017-05-08 16:09:19
310086    9999729       step_3 2017-05-08 16:09:19 2017-05-08 16:09:40
51309     9999832        start 2017-05-16 16:46:03 2017-05-16 16:46:11

       completion_time
255388 0 days 00:00:07
255387 0 days 00:00:32
255386 0 days 00:01:39
255385 0 days 00:00:20
9749   0 days 00:00:07
...                ...
310089 0 days 00:00:05
310088 0 days 00:00:10
310087 0 days 00:00:39
310086 0 days 00:00:21
51309  0 days 00:00:08

[150820 rows x 5 columns]

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_19528\940740622.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [13]:
import pandas as pd

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')  # Coerce invalid formats to NaT

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Group by process_step and calculate the average completion time for each step
average_completion_times = test_group_completion_times.groupby('process_step')['completion_time'].mean().reset_index()

# Display the average completion times
print(average_completion_times)

  process_step           completion_time
0      confirm 4 days 01:21:08.606944811
1        start 1 days 03:42:14.554952723
2       step_1 0 days 11:55:38.837214944
3       step_2 0 days 05:53:23.973691999
4       step_3 0 days 09:09:14.330464854

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_19528\706682172.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [14]:
import pandas as pd
import numpy as np

# Ensure 'date_time' is of datetime type
df_merged['date_time'] = pd.to_datetime(df_merged['date_time'], errors='coerce')

# Filter for the test group only
test_group = df_merged[df_merged['variation'] == 'Test']

# Sort by client_id and date_time to ensure chronological order of events
test_group = test_group.sort_values(by=['client_id', 'date_time'])

# Function to calculate completion time for each step in the test group
def calculate_completion_time(group_df):
    # Create a new column to store the completion time for each step
    group_df['next_step_time'] = group_df.groupby('client_id')['date_time'].shift(-1)
    
    # Only keep rows where the next step exists (i.e., not NaT)
    group_df = group_df.dropna(subset=['next_step_time'])
    
    # Calculate the completion time as the time difference between current and next step
    group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']
    
    return group_df[['client_id', 'process_step', 'date_time', 'next_step_time', 'completion_time']]

# Apply the function to the test group
test_group_completion_times = calculate_completion_time(test_group)

# Function to remove outliers using Z-score method
def remove_outliers_zscore(df, column_name, threshold=3):
    # Calculate the Z-scores
    z_scores = (df[column_name] - df[column_name].mean()) / df[column_name].std()
    
    # Filter out rows where Z-score is greater than the threshold (indicating an outlier)
    return df[np.abs(z_scores) <= threshold]

# Function to remove outliers using IQR method
def remove_outliers_iqr(df, column_name):
    # Calculate the IQR
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    # Filter out rows that are below Q1 - 1.5*IQR or above Q3 + 1.5*IQR
    return df[(df[column_name] >= Q1 - 1.5 * IQR) & (df[column_name] <= Q3 + 1.5 * IQR)]

# Remove outliers using Z-score
test_group_no_outliers_zscore = remove_outliers_zscore(test_group_completion_times, 'completion_time')

# Alternatively, remove outliers using IQR
test_group_no_outliers_iqr = remove_outliers_iqr(test_group_completion_times, 'completion_time')

# Calculate average completion time after removing outliers (Z-score)
average_completion_times_zscore = test_group_no_outliers_zscore.groupby('process_step')['completion_time'].mean().reset_index()

# Calculate average completion time after removing outliers (IQR)
average_completion_times_iqr = test_group_no_outliers_iqr.groupby('process_step')['completion_time'].mean().reset_index()

# Display the results
print("Average Completion Times (Z-score method):")
print(average_completion_times_zscore)

print("\nAverage Completion Times (IQR method):")
print(average_completion_times_iqr)

Average Completion Times (Z-score method):
  process_step           completion_time
0      confirm 1 days 13:37:49.074216524
1        start 0 days 07:03:57.558949063
2       step_1 0 days 03:05:12.195431402
3       step_2 0 days 01:31:49.043561607
4       step_3 0 days 02:34:01.954097962

Average Completion Times (IQR method):
  process_step           completion_time
0      confirm 0 days 00:01:13.727586206
1        start 0 days 00:00:30.646762285
2       step_1 0 days 00:00:39.209762958
3       step_2 0 days 00:01:07.075556187
4       step_3 0 days 00:01:04.705025631

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_19528\3773383250.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_df['completion_time'] = group_df['next_step_time'] - group_df['date_time']

In [15]:
import pandas as pd

# Sample DataFrame df_merged with 'clnt_age' and 'process_duration' columns
# This would typically already exist in your data
data = {
    'clnt_age': [25, 35, 42, 55, 29, 48, 33, 60, 19, 52],  # Example ages
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240]  # Example process durations (in seconds)
}
df_merged = pd.DataFrame(data)

# Define age bins and labels
bins = [0, 30, 40, 50, 100]  # Age bins
labels = ['Under 30', '30-39', '40-49', '50 and above']  # Age group labels

# Categorize ages into the defined bins and add a new 'age_group' column
df_merged['age_group'] = pd.cut(df_merged['clnt_age'], bins=bins, labels=labels)

# Calculate the average process duration for each age group
# Assuming 'process_duration' is in seconds, we can calculate the average for each age group
avg_process_duration = df_merged.groupby('age_group')['process_duration'].mean()

# Display the average process duration for each age group
print(avg_process_duration)

age_group
Under 30        120.000000
30-39           155.000000
40-49           190.000000
50 and above    253.333333
Name: process_duration, dtype: float64

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_19528\302951963.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_process_duration = df_merged.groupby('age_group')['process_duration'].mean()

In [16]:
# Assuming process_rate is inversely related to process_duration (work per unit time)
df_merged['process_rate'] = 1 / df_merged['process_duration']

# Calculate the average process rate for each age group
avg_process_rate = df_merged.groupby('age_group')['process_rate'].mean()

# Display the average process rate for each age group
print(avg_process_rate)

age_group
Under 30        0.008372
30-39           0.006458
40-49           0.005278
50 and above    0.003957
Name: process_rate, dtype: float64

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_19528\2818000591.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_process_rate = df_merged.groupby('age_group')['process_rate'].mean()

In [20]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'process_step': ['confirm', 'start', 'step_1', 'step_2', 'step_3', 'confirm', 'start', 'step_1', 'step_2', 'step_3'],
    'date_time': pd.to_datetime([
        '2024-11-20 10:00:00', '2024-11-20 08:00:00', '2024-11-20 08:15:00', 
        '2024-11-20 09:00:00', '2024-11-20 09:30:00', '2024-11-21 10:00:00', 
        '2024-11-21 08:10:00', '2024-11-21 08:40:00', '2024-11-21 09:20:00', '2024-11-21 09:45:00'
    ]),
    'client_id': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2],
    'group': ['test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test'],
    'process_duration': [120, 150, 200, 250, 130, 180, 160, 270, 110, 240]
}

# Create DataFrame
df_merged = pd.DataFrame(data)

# Define function to calculate average process time for each step
def calculate_average_times(df):
    avg_times = df.groupby('process_step')['process_duration'].mean().reset_index()
    avg_times['completion_time'] = pd.to_timedelta(avg_times['process_duration'], unit='s')
    return avg_times[['process_step', 'completion_time']]

# Calculate average completion times without outliers
avg_completion_times = calculate_average_times(df_merged)

# Outlier Detection using Z-score method (without scipy)
def detect_outliers_zscore(df, column_name, threshold=3):
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    z_scores = (df[column_name] - mean) / std_dev
    return df[np.abs(z_scores) > threshold]

# IQR method for outlier detection
def detect_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    return df[(df[column_name] < (Q1 - 1.5 * IQR)) | (df[column_name] > (Q3 + 1.5 * IQR))]

# Remove outliers using Z-score and IQR methods
df_merged_zscore = df_merged[~df_merged['process_duration'].isin(detect_outliers_zscore(df_merged, 'process_duration')['process_duration'])]
df_merged_iqr = df_merged[~df_merged['process_duration'].isin(detect_outliers_iqr(df_merged, 'process_duration')['process_duration'])]

# Calculate the average times after removing outliers for Z-score method
avg_times_zscore = calculate_average_times(df_merged_zscore)

# Calculate the average times after removing outliers for IQR method
avg_times_iqr = calculate_average_times(df_merged_iqr)

# Format the output as requested
print("Average Completion Times (Z-score method):")
print(avg_times_zscore.to_string(index=False))

print("\nAverage Completion Times (IQR method):")
print(avg_times_iqr.to_string(index=False))

Average Completion Times (Z-score method):
process_step completion_time
     confirm 0 days 00:02:30
       start 0 days 00:02:35
      step_1 0 days 00:03:55
      step_2 0 days 00:03:00
      step_3 0 days 00:03:05

Average Completion Times (IQR method):
process_step completion_time
     confirm 0 days 00:02:30
       start 0 days 00:02:35
      step_1 0 days 00:03:55
      step_2 0 days 00:03:00
      step_3 0 days 00:03:05

In [21]:
#completion rate based on visit_id
def calculate_within_visit_completion_rate(group):
    # Total unique visits that started
    started_visits = group[group['process_step'] == 'start']['visit_id'].nunique()

    # Unique visits that completed each step
    completed_visits = (
        group[group['process_step'] != 'start']
        .groupby('process_step')['visit_id']
        .nunique()
        .reset_index(name='completed_visits')
    )

    # Add the total started visits as a constant column
    completed_visits['started_visits'] = started_visits

    # Calculate the completion rate
    completed_visits['completion_rate'] = (
        completed_visits['completed_visits'] / completed_visits['started_visits']
    ) * 100

    return completed_visits

# Calculate completion rates for the control and test groups
control_completion_rate = calculate_within_visit_completion_rate(control_group_sorted)
test_completion_rate = calculate_within_visit_completion_rate(test_group_sorted)

# Display the results
print("Control Group Within-Visit Completion Rates:")
display(control_completion_rate)

print("Test Group Within-Visit Completion Rates:")
display(test_completion_rate)

Control Group Within-Visit Completion Rates:

  process_step  completed_visits  started_visits  completion_rate
0      confirm             16039           30903        51.901110
1       step_1             23541           30903        76.177070
2       step_2             20131           30903        65.142543
3       step_3             18293           30903        59.194900

Test Group Within-Visit Completion Rates:

  process_step  completed_visits  started_visits  completion_rate
0      confirm             21725           33142        65.551264
1       step_1             28273           33142        85.308672
2       step_2             24493           33142        73.903204
3       step_3             22180           33142        66.924145