In [1]:
import pandas as pd
import numpy as np

In [2]:
merged_df = pd.read_csv("merged_rd_gdp.csv")
patents_df = pd.read_csv("updated_patents_df.csv")
hdi_df = pd.read_csv("hdi_clean.csv")
education_df = pd.read_csv("educ_filtered.csv")

In [5]:
education_df.shape

(883, 4)

In [7]:
patents_df.shape

(771, 4)

In [9]:
merged_df.shape

(355, 6)

In [11]:
hdi_df.rename(columns={'country':'area'}, inplace= True)

In [13]:
merged_df_V2 = pd.merge(merged_df, hdi_df, on=['area', 'year'], how='inner')
merged_df_V3 = pd.merge(merged_df_V2, education_df, on=['area', 'year'], how='inner')
merged_df_V4 = pd.merge(merged_df_V3, patents_df, on=['area', 'year'], how='inner')

In [29]:
merged_df_V4.shape

(106, 8)

In [19]:
merged_df_V4.describe()

,region_x,year,gdp,r_d,researchers,human_development_index_(hdi),region_y,public_expenditure_education,country_code,patents_num
count,106.000000,106.000000,1.060000e+02,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
mean,410.349057,2009.754717,6.455052e+11,1.166038,2360.985849,0.808085,410.349057,4.825472,410.349057,7062.867925
std,244.602770,5.154400,1.129960e+12,0.911084,2009.348724,0.110381,244.602770,1.267473,244.602770,27631.421849
min,31.000000,2005.000000,5.859270e+09,0.000000,13.900000,0.469000,31.000000,1.700000,31.000000,4.000000
25%,204.250000,2005.000000,5.517256e+10,0.400000,572.875000,0.757500,204.250000,3.900000,204.250000,157.000000
50%,392.000000,2010.000000,2.123620e+11,0.800000,1662.200000,0.834000,392.000000,4.900000,392.000000,733.500000
75%,619.000000,2010.000000,4.645358e+11,1.675000,3847.200000,0.897250,619.000000,5.575000,619.000000,2946.250000
max,860.000000,2021.000000,6.087190e+12,3.700000,7720.200000,0.962000,860.000000,8.600000,860.000000,222693.000000

In [27]:
merged_df_V4.head()

,area,year,gdp,r_d,researchers,hdi,public_expenditure_education,patents_num
0,Azerbaijan,2021,54825411765,0.2,1741.1,0.745,3.5,119
1,Argentina,2005,198737000000,0.4,819.4,0.802,3.9,1798
2,Argentina,2010,423627000000,0.6,1123.8,0.834,5.0,1366
3,Argentina,2020,385741000000,0.5,1236.9,0.840,5.1,2337
4,Australia,2010,1148890000000,2.4,4532.4,0.923,5.5,14557

In [23]:
merged_df_V4 = merged_df_V4.drop(columns={'region_y', 'region_x', 'iso3', 'human_development_groups', 'undp_developing_regions','country_code'}, axis=1)

In [25]:
merged_df_V4 = merged_df_V4.rename(columns={'human_development_index_(hdi)':'hdi'})

In [31]:
merged_df_V4.to_csv("final_df.csv")

In [320]:
merged_df_V4.year.unique()

array([2021, 2005, 2010, 2020, 2019], dtype=int64)

In [33]:
merged_df_V4.area.nunique()

63

In [324]:
merged_germany = merged_df_V4[merged_df_V4['area']=='Germany']

In [326]:
display(merged_germany)

,region_x,area,year,gdp,r_d,researchers,iso3,human_development_groups,undp_developing_regions,human_development_index_(hdi),region_y,public_expenditure_education,country_code,patents_num
38,276,Germany,2005,2846860000000,2.4,3335.0,DEU,Very High,NaN,0.914,276,4.1,276,17063
39,276,Germany,2010,3399670000000,2.7,4058.0,DEU,Very High,NaN,0.926,276,5.1,276,13678

In [276]:
patents_df.head()

   country_code                           area  year  patents_num
0             1  Total, all countries or areas  1985       397580
1             1  Total, all countries or areas  1995       429800
2             1  Total, all countries or areas  2005       632400
3             1  Total, all countries or areas  2010       914200
4             1  Total, all countries or areas  2019      1506900

In [278]:
merged_df_V2.head()

,region,area,year,gdp,r_d,researchers,country_code,patents_num
0,12,Algeria,2005,107047000000,0.1,168.7,12,443
1,31,Azerbaijan,2021,54825411765,0.2,1741.1,31,119
2,32,Argentina,2005,198737000000,0.4,819.4,32,1798
3,32,Argentina,2010,423627000000,0.6,1123.8,32,1366
4,32,Argentina,2020,385741000000,0.5,1236.9,32,2337

In [268]:
merged_df_V2.shape

(164, 8)

In [176]:
merged_df_V3 = pd.merge(merged_df_V2, hdi_df, on=['area', 'year'], how='inner')

In [148]:
merged_df_V2 = merged_df_V2.drop('country_code', axis=1)

In [158]:
merged_df_V2['number_patents'] = pd.to_numeric(merged_df_V2['number_patents'], errors='coerce')

In [156]:
merged_df_V2.rename(columns={'series': 'patents', 'value':'number_patents'}, inplace= True)

In [122]:
merged_df_V2 = merged_df_V2.dropna

AttributeError: 'function' object has no attribute 'dropna'

In [178]:
merged_df_V3.head()

,region,area,year,gdp,r_d,researchers,patents,number_patents,iso3,human_development_groups,undp_developing_regions,human_development_index_(hdi)
0,12,Algeria,2005,107047000000,0.1,168.7,Resident patent filings (per million population),2.0,DZA,High,AS,0.685
1,12,Algeria,2005,107047000000,0.1,168.7,Grants of patents (number),443.0,DZA,High,AS,0.685
2,12,Algeria,2005,107047000000,0.1,168.7,Patents in force (number),498.0,DZA,High,AS,0.685
3,31,Azerbaijan,2021,54825411765,0.2,1741.1,Resident patent filings (per million population),14.0,AZE,High,ECA,0.745
4,31,Azerbaijan,2021,54825411765,0.2,1741.1,Grants of patents (number),119.0,AZE,High,ECA,0.745

In [180]:
merged_df_V3.shape

(490, 12)

In [194]:
merged_df_V4 = pd.merge(merged_df_V3, education_df, on=['area', 'year'], how='inner')

In [208]:
merged_df_V4.shape

(320, 13)

In [206]:
merged_df_V4 = merged_df_V4.drop('region_y', axis=1)