In [2]:
import pandas as pd
import statistics
import matplotlib.pyplot as plt

In [3]:
housing = pd.read_excel("../data/raw/week_3_project_data.xlsx", sheet_name=0)
housing

  Unnamed: 0    2019    2020    2021    2022    2023
0         DE  128.70  138.70  154.80  162.60  148.80
1         FR  110.86  116.62  123.98  131.82  131.26
2         PT  141.88  154.33  168.84  190.17  205.76

In [6]:
housing = housing.rename(columns = {"Unnamed: 0": "Country"})
housing

  Country    2019    2020    2021    2022    2023
0      DE  128.70  138.70  154.80  162.60  148.80
1      FR  110.86  116.62  123.98  131.82  131.26
2      PT  141.88  154.33  168.84  190.17  205.76

In [7]:
rental = pd.read_excel("../data/raw/week_3_project_data.xlsx", sheet_name=1)
rental

  Unnamed: 0    2019    2020    2021    2022    2023
0         DE  100.67  101.06  101.92  102.60  104.78
1         FR  107.97  110.76  101.92  115.79  121.05
2         PT  106.10  107.60  109.00  110.80  113.10

In [8]:
rental = rental.rename(columns = {"Unnamed: 0": "Country"})
rental

  Country    2019    2020    2021    2022    2023
0      DE  100.67  101.06  101.92  102.60  104.78
1      FR  107.97  110.76  101.92  115.79  121.05
2      PT  106.10  107.60  109.00  110.80  113.10

In [9]:
income = pd.read_excel("../data/raw/week_3_project_data.xlsx", sheet_name=2)
income

  Unnamed: 0   2019   2020   2021   2022   2023
0         DE  26105  29896  29106  28569  30308
1         FR  26210  25382  26075  26419  27577
2         PT  11786  12696  13113  13148  14368

In [10]:
income = income.rename(columns = {"Unnamed: 0" : "Country"})
income

  Country   2019   2020   2021   2022   2023
0      DE  26105  29896  29106  28569  30308
1      FR  26210  25382  26075  26419  27577
2      PT  11786  12696  13113  13148  14368

In [11]:
total = housing.merge(rental, on = "Country", how = "inner")
total

,Country,2019_x,2020_x,2021_x,2022_x,2023_x,2019_y,2020_y,2021_y,2022_y,2023_y
0,DE,128.70,138.70,154.80,162.60,148.80,100.67,101.06,101.92,102.60,104.78
1,FR,110.86,116.62,123.98,131.82,131.26,107.97,110.76,101.92,115.79,121.05
2,PT,141.88,154.33,168.84,190.17,205.76,106.10,107.60,109.00,110.80,113.10

In [4]:
countries = pd.read_excel("../data/raw/Numbeo stats.xlsx")
countries

ValueError: Excel file format cannot be determined, you must specify an engine manually.