In [2]:
import pandas as pd

In [4]:

# Replace with your actual file path
file_path = '/Users/volkan.coskun/esra/data/Week_4/day1/first_project/data/raw/Employment_Projections.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Occupation Title,Occupation Code,Employment 2023,Employment 2033,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033","Occupational Openings, 2023-2033 Annual Average",Median Annual Wage 2024,Typical Entry-Level Education,Education Code,Work Experience in a Related Occupation,Workex Code,Typical on-the-job Training,trCode
0,Accountants and auditors * Account Auditor*...,"=""13-2011""","1,562.0","1,653.4",91.4,5.8,130.8,"81,680",Bachelor's degree,3,NaN,4,NaN,6
1,Actors * Actor Understudy* Actress* Dramati...,"=""27-2011""",76.0,79.5,3.5,4.5,8.6,NaN,"Some college, no degree",6,NaN,4,Long-term on-the-job training,3
2,Actuaries * Actuarial Associate* Actuarial ...,"=""15-2011""",30.2,36.8,6.6,21.8,2.2,"125,770",Bachelor's degree,3,NaN,4,Long-term on-the-job training,3
3,Acupuncturists * Acupuncture Physician* Lic...,"=""29-1291""",22.1,23.3,1.2,5.5,1.3,"78,140",Master's degree,2,NaN,4,NaN,6
4,Adhesive bonding machine operators and tenders...,"=""51-9191""",12.5,12.4,-0.1,-0.5,1.2,"45,210",High school diploma or equivalent,7,NaN,4,Moderate-term on-the-job training,4

In [6]:
# Replace with your actual file path
file_path = '/Users/volkan.coskun/esra/data/Week_4/day1/first_project/data/raw/National_Employment_Matrix_IND_541200.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Occupation Title,Occupation Code,Occupation Type,2023 Employment,2023 Percent of Industry,2023 Percent of Occupation,Projected 2033 Employment,Projected 2033 Percent of Industry,Projected 2033 Percent of Occupation,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033",Occupation Sort,Display Level
0,"Total, all occupations","=""00-0000""",Summary,"1,149.2",100.0,0.7,"1,185.1",100.0,0.7,35.9,3.1,NaN,0
1,Management occupations,"=""11-0000""",Summary,121.1,10.5,0.9,133.5,11.3,0.9,12.4,10.2,2.0,1
2,Top executives,"=""11-1000""",Summary,36.2,3.2,0.9,38.1,3.2,0.9,1.9,5.3,3.0,2
3,Chief executives,"=""11-1011""",Line Item,1.6,0.1,0.5,1.7,0.1,0.5,0.1,5.3,4.0,3
4,General and operations managers,"=""11-1021""",Line Item,34.6,3.0,1.0,36.4,3.1,0.9,1.8,5.3,5.0,3

In [8]:
# Replace with your actual file path
file_path = '/Users/volkan.coskun/esra/data/Week_4/day1/first_project/data/raw/National_Employment_Matrix_IND_230000.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Occupation Title,Occupation Code,Occupation Type,2023 Employment,2023 Percent of Industry,2023 Percent of Occupation,Projected 2033 Employment,Projected 2033 Percent of Industry,Projected 2033 Percent of Occupation,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033",Occupation Sort,Display Level
0,"Total, all occupations","=""00-0000""",Summary,"8,017.9",100.0,4.8,"8,398.0",100.0,4.8,380.1,4.7,NaN,0
1,Management occupations,"=""11-0000""",Summary,628.9,7.8,4.8,671.2,8.0,4.7,42.3,6.7,2.0,1
2,Top executives,"=""11-1000""",Summary,271.9,3.4,6.8,282.6,3.4,6.7,10.7,3.9,3.0,2
3,Chief executives,"=""11-1011""",Line Item,7.5,0.1,2.4,7.8,0.1,2.4,0.3,4.0,4.0,3
4,General and operations managers,"=""11-1021""",Line Item,264.3,3.3,7.3,274.7,3.3,7.2,10.4,3.9,5.0,3

In [10]:


# Replace with your actual file path
file_path = '/Users/volkan.coskun/esra/data/Week_4/day1/first_project/data/raw/National_Employment_Matrix_IND_31-330.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows
df.tail()

,Occupation Title,Occupation Code,Occupation Type,2023 Employment,2023 Percent of Industry,2023 Percent of Occupation,Projected 2033 Employment,Projected 2033 Percent of Industry,Projected 2033 Percent of Occupation,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033",Occupation Sort,Display Level
746,"Pump operators, except wellhead pumpers","=""53-7072""",Line Item,0.5,0.0,4.3,0.5,0.0,4.4,0.0,6.6,1109.0,4
747,Wellhead pumpers,"=""53-7073""",Line Item,0.2,0.0,1.0,0.2,0.0,1.0,0.0,-2.2,1110.0,4
748,Refuse and recyclable material collectors,"=""53-7081""",Line Item,0.1,0.0,0.1,0.1,0.0,0.1,0.0,-3.1,1111.0,3
749,"Tank car, truck, and ship loaders","=""53-7121""",Line Item,1.7,0.0,13.6,1.8,0.0,13.4,0.0,2.5,1112.0,3
750,"Material moving workers, all other","=""53-7199""",Line Item,2.7,0.0,10.2,2.8,0.0,10.0,0.1,2.2,1113.0,3

In [14]:

# Replace with your actual file path
file_path = '/Users/volkan.coskun/esra/data/Week_4/day1/first_project/data/raw/OECD.STI.DEP,DSD_ICT_B@DF_BUSINESSES,1.0+all.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows
df.tail(10)

/var/folders/v_/rkcyqdxx47vbjgvjddywrbrh0000gn/T/ipykernel_99240/2815265386.py:5: DtypeWarning: Columns (24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,OBS_STATUS_3,Observation status 3,UNIT_MULT,Unit multiplier,TIME_HORIZON_USE,Time horizon,DECIMALS,Decimals,BREAKDOWN_V7,V7 Breakdowns
208282,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3E_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208283,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3C_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208284,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3G_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208285,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3F_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208286,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3D_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208287,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3G_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208288,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3C_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208289,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3D_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208290,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3G_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN
208291,DATAFLOW,OECD.STI.DEP:DSD_ICT_B@DF_BUSINESSES(1.0),ICT Access and Usage by Businesses,I,KOR,Korea,A,Annual,G3D_B,Businesses purchasing cloud computing services...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,Two,NaN,NaN

In [16]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'ACTIVITY',
       'Economic activity', 'SIZE_CLASS', 'Employment size class',
       'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value',
       'OBS_STATUS', 'Observation status', 'OBS_STATUS_2',
       'Observation status 2', 'OBS_STATUS_3', 'Observation status 3',
       'UNIT_MULT', 'Unit multiplier', 'TIME_HORIZON_USE', 'Time horizon',
       'DECIMALS', 'Decimals', 'BREAKDOWN_V7', 'V7 Breakdowns'],
      dtype='object')

In [20]:
df['Observation value'].unique

<bound method Series.unique of 0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
208287   NaN
208288   NaN
208289   NaN
208290   NaN
208291   NaN
Name: Observation value, Length: 208292, dtype: float64>