In [1]:
import pandas as pd

# Use read_excel() instead of read_xlsx
df = pd.read_excel(r'../data/raw/data_glotip.xlsx')
display(df.head())

,UNODC,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,14/04/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
2,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP

In [2]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
df = df.drop(0).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
1,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

In [3]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,167

In [4]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', np.nan)
df['Sex'] = df['Sex'].str.capitalize()
df['Sex'] = df['Sex'].replace('Other', np.nan)
df['Sex'] = df['Sex'].replace('Unknown',np.nan)

In [ ]:
display(df.head())

In [5]:
import numpy as np
df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': np.nan,
    'Unknown': np.nan
})

In [6]:
print(df['Age'].unique())

[nan 'Minor' 'Adult']

In [7]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,NaN,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,NaN,NaN,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,NaN,NaN,2013,167

In [8]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,NaN,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2008,<5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,NaN,2017,<5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,NaN,2018,<5

In [9]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,NaN,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,NaN,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,NaN,2018,2.5

In [10]:
count_2_5 = (df1['Nr_of_victims'] == 2.5).sum()

# Print the result
print(f"Number of 2.5 entries in the column: {count_2_5}")

Number of 2.5 entries in the column: 20163

In [11]:
df1['Nr_of_victims'].unique()

array([2.5, '15', '7', ..., '957', '1,497', '1,698'], dtype=object)

In [12]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')
df1['Nr_of_victims'].unique()

array(['2.5', '15', '7', ..., '957', '1497', '1698'], dtype=object)

In [13]:
# Check the type of the 'Nr_of_victims' column
column_type = df1['Nr_of_victims'].dtype

# Print the type
print(f"The data type of the 'Nr_of_victims' column is: {column_type}")

The data type of the 'Nr_of_victims' column is: object

In [14]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)

print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

The new data type of the 'Nr_of_victims' column is: float64

In [15]:
#display(df1.head())
df1.dtypes

Country           object
Region            object
Subregion         object
Indicator         object
Dimension         object
Category          object
Sex               object
Age               object
Year              object
Nr_of_victims    float64
dtype: object

In [16]:
#df1['Year'] = pd.to_datetime(df1['Year'], format='%Y')
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year
df1.dtypes

Country           object
Region            object
Subregion         object
Indicator         object
Dimension         object
Category          object
Sex               object
Age               object
Year               int32
Nr_of_victims    float64
dtype: object

In [17]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,NaN,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,NaN,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,NaN,2018,2.5

In [18]:
df1.shape

(39485, 10)

In [19]:
df1['Dimension'] = df1['Dimension'].replace('Total', np.nan)

In [20]:
df1['Category'] = df1['Category'].replace('Total', np.nan)

In [21]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,NaN,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,NaN,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,NaN,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,NaN,2018,2.5

In [23]:
# Group by Country and count unique subregions and regions
inconsistencies = df.groupby('Country')[['Subregion', 'Region']].nunique()

# Filter for countries with more than one unique subregion or region
problematic = inconsistencies[(inconsistencies['Subregion'] > 1) | (inconsistencies['Region'] > 1)]

print(problematic)

In [25]:
display(df1[['Country', 'Subregion', 'Region']].drop_duplicates().sort_values('Country'))

,Country,Subregion,Region
1,Afghanistan,Southern Asia,Asia
284,Albania,Southern Europe,Europe
13456,Algeria,Northern Africa,Africa
567,Andorra,Southern Europe,Europe
10,Angola,Sub-Saharan Africa,Africa
...,...,...,...
46434,Venezuela (Bolivarian Republic of),Latin America and the Caribbean,Americas
46739,Viet Nam,South-eastern Asia,Asia
46895,Yemen,Western Asia,Asia
47148,Zambia,Sub-Saharan Africa,Africa
47210,Zimbabwe,Sub-Saharan Africa,Africa