In [ ]:
import pandas as pd

# Use read_excel() instead of read_xlsx
df = pd.read_excel(r'../data/raw/data_glotip.xlsx')
display(df.head())

In [ ]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
df = df.drop(0).reset_index(drop=True)
display(df.head())

In [ ]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)
display(df.head())

In [ ]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', np.nan)
df['Sex'] = df['Sex'].str.capitalize()
df['Sex'] = df['Sex'].replace('Other', np.nan)
df['Sex'] = df['Sex'].replace('Unknown',np.nan)

In [ ]:
display(df.head())

In [ ]:
import numpy as np
df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': np.nan,
    'Unknown': np.nan
})

In [ ]:
print(df['Age'].unique())

In [ ]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})
display(df.head())

In [ ]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()
display(df1.head())

In [ ]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)
display(df1.head())

In [ ]:
count_2_5 = (df1['Nr_of_victims'] == 2.5).sum()

# Print the result
print(f"Number of 2.5 entries in the column: {count_2_5}")

In [ ]:
df1['Nr_of_victims'].unique()

In [ ]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')
df1['Nr_of_victims'].unique()

In [ ]:
# Check the type of the 'Nr_of_victims' column
column_type = df1['Nr_of_victims'].dtype

# Print the type
print(f"The data type of the 'Nr_of_victims' column is: {column_type}")

In [ ]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)

print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

In [ ]:
display(df1.head())

In [ ]:
df1['Year'] = pd.to_datetime(df1['Year'], errors='coerce', format='%Y')

In [ ]:
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y')
df1.dtypes

In [ ]:
display(df1.head())

In [ ]:
df1.shape

In [ ]:
df1['Dimension'] = df1['Dimension'].replace('Total', np.nan)

In [ ]:
df1['Category'] = df1['Category'].replace('Total', np.nan)