In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/df_final_experiment_clients.txt")

In [3]:
df.head(20)

    client_id Variation
0     9988021      Test
1     8320017      Test
2     4033851   Control
3     1982004      Test
4     9294070   Control
5     9466803      Test
6     3170143      Test
7     6651403   Control
8     5887227      Test
9     2105948   Control
10     438567      Test
11    2519971      Test
12    9814849   Control
13    5407849      Test
14    7286739   Control
15    4446011   Control
16    5308474      Test
17    2991219      Test
18    2354414      Test
19     949210      Test

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [5]:
df.columns

Index(['client_id', 'Variation'], dtype='object')

In [6]:
# there are just two columns and 70k rows
df.shape

(70609, 2)

In [7]:
# checking for missing values
df.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [8]:
df.dtypes

client_id     int64
Variation    object
dtype: object

In [9]:
df.dtypes.value_counts()

int64     1
object    1
Name: count, dtype: int64

In [10]:
print(f"Number of duplicate client IDs: {df['client_id'].duplicated().sum()}")

#  Check Variation values are only Test/Control
df['Variation'].value_counts()

#  Convert Variation to categorical for memory efficiency
df['Variation'] = df['Variation'].astype('category')

#  Check for unexpected values in client_id (if they should be numeric)
df['client_id'].describe()

Number of duplicate client IDs: 0

count    7.060900e+04
mean     5.004992e+06
std      2.877278e+06
min      1.690000e+02
25%      2.519329e+06
50%      5.016978e+06
75%      7.483085e+06
max      9.999839e+06
Name: client_id, dtype: float64

In [21]:
df_cleaned = df.dropna(subset=['Variation'])
print(df_cleaned.head())

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [17]:
df.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [18]:
df_cleaned.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [20]:
df_cleaned.to_csv("df_final_experiment_clients_cleaned.csv", index=False)