In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [83]:
df = pd.read_csv('C:/Users/vasco/Ironhack/labs/Week5/Second Project/second_project/data/raw/df_final_web_data_pt_1.txt')

In [84]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [89]:
df.info

<bound method DataFrame.info of         client_id             visitor_id                      visit_id  \
0         9988021   580560515_7732621733  781255054_21935453173_531117
1         9988021   580560515_7732621733  781255054_21935453173_531117
2         9988021   580560515_7732621733  781255054_21935453173_531117
3         9988021   580560515_7732621733  781255054_21935453173_531117
4         9988021   580560515_7732621733  781255054_21935453173_531117
...           ...                    ...                           ...
343136    2443347  465784886_73090545671  136329900_10529659391_316129
343137    2443347  465784886_73090545671  136329900_10529659391_316129
343138    2443347  465784886_73090545671  136329900_10529659391_316129
343139    2443347  465784886_73090545671  136329900_10529659391_316129
343140    2443347  465784886_73090545671  136329900_10529659391_316129

       process_step            date_time
0            step_3  2017-04-17 15:27:07
1            step_2  2017-04-17 15:26:51
2            step_3  2017-04-17 15:19:22
3            step_2  2017-04-17 15:19:13
4            step_3  2017-04-17 15:18:04
...             ...                  ...
343136      confirm  2017-03-31 15:15:46
343137       step_3  2017-03-31 15:14:53
343138       step_2  2017-03-31 15:12:08
343139       step_1  2017-03-31 15:11:37
343140        start  2017-03-31 15:10:47

[343141 rows x 5 columns]>

In [57]:
print(df.isnull().sum())

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [59]:
print(df.duplicated().sum())

2095

In [91]:
df = df.copy()

In [93]:
# Drop duplicate rows
df = df.drop_duplicates()

# Convert 'date_time' column to datetime format
df.loc[:, 'date_time'] = pd.to_datetime(df['date_time'])

# Normalize the casing in 'process_step'
df.loc[:, 'process_step'] = df['process_step'].str.lower()

# Unique values in 'process_step'
print(df['process_step'].value_counts())

# Check numerical data
print(df.describe())

process_step
start      107495
step_1      73360
step_2      61712
step_3      53270
confirm     45209
Name: count, dtype: int64
          client_id
count  3.410460e+05
mean   4.994907e+06
std    2.876160e+06
min    1.690000e+02
25%    2.505094e+06
50%    5.004793e+06
75%    7.468186e+06
max    9.999839e+06

In [99]:
df.shape

(341046, 5)