In [2]:
import pandas as pd

df = pd.read_csv("../data/raw/df_final_demo.txt")  # Go up one directory, then into data/raw
df.head(20)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0

In [4]:
df.shape

(70609, 9)

In [8]:
df.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [5]:
# Check if any column names have leading or trailing whitespace
columns_with_spaces = [col for col in df.columns if col != col.strip()]

# Print columns with leading/trailing spaces
print("Columns with leading/trailing spaces:", columns_with_spaces)

Columns with leading/trailing spaces: []

In [6]:
df[df['clnt_tenure_yr'] % 1 != 0]['clnt_tenure_yr'].unique()
# clnt_tenure_yr can be casted as an int

array([nan])

In [7]:
df[df['clnt_tenure_mnth'] % 1 != 0]['clnt_tenure_mnth'].unique()
# clnt_tenure_mnth can be casted as an int

array([nan])

In [8]:
df[df['num_accts'] % 1 != 0]['num_accts'].unique()
# num_accts can be casted as an int

array([nan])

In [9]:
df[df['calls_6_mnth'] % 1 != 0]['calls_6_mnth'].unique()
# calls_6_mnth can be casted as an int

array([nan])

In [10]:
df[df['logons_6_mnth'] % 1 != 0]['logons_6_mnth'].unique()
# logons_6_mnth can be casted as an int

array([nan])

In [11]:
# Proof if there are NaN value in rows

# List of columns to check
columns_to_check = ['clnt_tenure_yr', 'clnt_tenure_mnth', 'num_accts', 'calls_6_mnth', 'logons_6_mnth']

# Filter rows where all selected columns have NaN values
nan_rows = df[df[columns_to_check].isna().all(axis=1)]

# Print the rows with NaN in all selected columns
print("Rows with NaNs in all selected columns:")
print(nan_rows)

## THIS OUTPUT SHOWS THAT THESE 14 ROWS HAVE NaN VALUES HAVE NaN VALUES IN THE WHOLE ROW

Rows with NaNs in all selected columns:
       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
4164     7402828             NaN               NaN       NaN   NaN        NaN
8316      355337             NaN               NaN       NaN   NaN        NaN
8677     8412164             NaN               NaN       NaN   NaN        NaN
13444    2222915             NaN               NaN       NaN   NaN        NaN
18066    4876926             NaN               NaN       NaN   NaN        NaN
25961    5277910             NaN               NaN       NaN   NaN        NaN
28432    7616759             NaN               NaN       NaN   NaN        NaN
35323    8191345             NaN               NaN       NaN   NaN        NaN
43518    1227228             NaN               NaN       NaN   NaN        NaN
46076    8611797             NaN               NaN       NaN   NaN        NaN
47189    5144725             NaN               NaN       NaN   NaN        NaN
49846    1037867             NaN               NaN       NaN   NaN        NaN
63701    1618749             NaN               NaN       NaN   NaN        NaN
66219    6021001             NaN               NaN       NaN   NaN        NaN

       bal  calls_6_mnth  logons_6_mnth
4164   NaN           NaN            NaN
8316   NaN           NaN            NaN
8677   NaN           NaN            NaN
13444  NaN           NaN            NaN
18066  NaN           NaN            NaN
25961  NaN           NaN            NaN
28432  NaN           NaN            NaN
35323  NaN           NaN            NaN
43518  NaN           NaN            NaN
46076  NaN           NaN            NaN
47189  NaN           NaN            NaN
49846  NaN           NaN            NaN
63701  NaN           NaN            NaN
66219  NaN           NaN            NaN

In [12]:
# List of columns to check if there are anything other than a .0 ending
columns_to_check = ['clnt_tenure_yr', 'clnt_tenure_mnth', 'num_accts', 'calls_6_mnth', 'logons_6_mnth']

# Get unique values where the values have decimals (i.e., not integers)
for col in columns_to_check:
    print(f"{col}: {df[df[col] % 1 != 0][col].unique().tolist()}")

# nan MEANS NO OTHER ENDINGS OTHER THAN .0

clnt_tenure_yr: [nan]
clnt_tenure_mnth: [nan]
num_accts: [nan]
calls_6_mnth: [nan]
logons_6_mnth: [nan]

In [13]:
# List of columns to check
columns_to_check = ['clnt_tenure_yr', 'clnt_tenure_mnth', 'num_accts', 'calls_6_mnth', 'logons_6_mnth']

# Step 1: Drop rows where all selected columns have NaN values
df_cleaned = df.dropna(subset=columns_to_check, how='all').copy()  # Ensure we work with a copy

# Step 2: Convert float columns to Int64 if they are of float type
for col in columns_to_check:
    if df_cleaned[col].dtype == 'float64':  # Check if column is of float type
        df_cleaned[col] = df_cleaned[col].astype('Int64')  # Convert to nullable Int64

# Verify the result
display(df_cleaned)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6,73,60.5,U,2,45105.30,6,9
1,2304905,7,94,58.0,U,2,110860.30,6,9
2,1439522,5,64,32.0,U,2,52467.79,6,9
3,1562045,16,198,49.0,M,2,67454.65,3,6
4,5126305,12,145,33.0,F,2,103671.75,0,3
...,...,...,...,...,...,...,...,...,...
70604,7993686,4,56,38.5,U,3,1411062.68,5,5
70605,8981690,12,148,31.0,M,2,101867.07,6,6
70606,333913,16,198,61.5,F,2,40745.00,3,3
70607,1573142,21,255,68.0,M,3,475114.69,4,4
70608,5602139,21,254,59.5,F,3,157498.73,7,7

In [14]:
df_cleaned.dtypes

client_id             int64
clnt_tenure_yr        Int64
clnt_tenure_mnth      Int64
clnt_age            float64
gendr                object
num_accts             Int64
bal                 float64
calls_6_mnth          Int64
logons_6_mnth         Int64
dtype: object

In [15]:
display(df_cleaned['gendr'].unique())

array(['U', 'M', 'F', 'X'], dtype=object)

In [16]:
display(df_cleaned['gendr'].nunique())

4

In [17]:
print(f"NaN count in 'gendr' column: {df_cleaned['gendr'].isna().sum()}")

NaN count in 'gendr' column: 0

In [18]:
df_cleaned.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6,73,60.5,U,2,45105.30,6,9
1,2304905,7,94,58.0,U,2,110860.30,6,9
2,1439522,5,64,32.0,U,2,52467.79,6,9
3,1562045,16,198,49.0,M,2,67454.65,3,6
4,5126305,12,145,33.0,F,2,103671.75,0,3

In [19]:
df_cleaned.to_csv("df_final_demo_cleaned.csv", index=False)