In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [5]:
df = pd.read_csv('C:/Users/vasco/Ironhack/labs/Week5/Second Project/second_project/data/raw/df_final_web_data_pt_2.txt')

In [7]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [11]:
df.info

<bound method DataFrame.info of         client_id             visitor_id                      visit_id  \
0          763412  601952081_10457207388  397475557_40440946728_419634
1         6019349  442094451_91531546617  154620534_35331068705_522317
2         6019349  442094451_91531546617  154620534_35331068705_522317
3         6019349  442094451_91531546617  154620534_35331068705_522317
4         6019349  442094451_91531546617  154620534_35331068705_522317
...           ...                    ...                           ...
412259    9668240   388766751_9038881013   922267647_3096648104_968866
412260    9668240   388766751_9038881013   922267647_3096648104_968866
412261    9668240   388766751_9038881013   922267647_3096648104_968866
412262    9668240   388766751_9038881013   922267647_3096648104_968866
412263     674799  947159805_81558194550   86152093_47511127657_716022

       process_step            date_time
0           confirm  2017-06-06 08:56:00
1           confirm  2017-06-01 11:59:27
2            step_3  2017-06-01 11:58:48
3            step_2  2017-06-01 11:58:08
4            step_1  2017-06-01 11:57:58
...             ...                  ...
412259        start  2017-05-24 18:46:10
412260        start  2017-05-24 18:45:29
412261       step_1  2017-05-24 18:44:51
412262        start  2017-05-24 18:44:34
412263        start  2017-06-03 12:17:09

[412264 rows x 5 columns]>

In [13]:
print(df.isnull().sum())

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [15]:
print(df.duplicated().sum())

8669

In [17]:
df = df.copy()

In [19]:
# Drop duplicate rows
df = df.drop_duplicates()

# Convert 'date_time' column to datetime format
df.loc[:, 'date_time'] = pd.to_datetime(df['date_time'])

# Normalize the casing in 'process_step'
df.loc[:, 'process_step'] = df['process_step'].str.lower()

# Unique values in 'process_step'
print(df['process_step'].value_counts())

# Check numerical data
print(df.describe())

process_step
start      127504
step_1      89437
step_2      71038
step_3      58319
confirm     57297
Name: count, dtype: int64
          client_id
count  4.035950e+05
mean   5.030243e+06
std    2.882385e+06
min    3.360000e+02
25%    2.539014e+06
50%    5.056314e+06
75%    7.520777e+06
max    9.999875e+06

In [21]:
df.shape

(403595, 5)