In [1]:
import pandas as pd
df = pd.read_excel(r'../data/raw/data_glotip.xlsx')
print(df.head())

        UNODC   Unnamed: 1 Unnamed: 2                       Unnamed: 3  \
0  14/04/2025          NaN        NaN                              NaN
1   Iso3_code      Country     Region                        Subregion
2         ABW        Aruba   Americas  Latin America and the Caribbean
3         AFG  Afghanistan       Asia                    Southern Asia
4         AFG  Afghanistan       Asia                    Southern Asia

                     Unnamed: 4                  Unnamed: 5 Unnamed: 6  \
0                           NaN                         NaN        NaN
1                     Indicator                   Dimension   Category
2  Detected trafficking victims  by country of repatriation    Ukraine
3  Detected trafficking victims  by country of repatriation     Abroad
4  Detected trafficking victims  by country of repatriation     Abroad

  Unnamed: 7 Unnamed: 8 Unnamed: 9          Unnamed: 10 Unnamed: 11  \
0        NaN        NaN        NaN                  NaN         NaN
1        Sex        Age       Year  Unit of measurement    txtVALUE
2      Total      Total       2010               Counts          <5
3      Total      Total       2003               Counts          <5
4      Total      Total       2008               Counts          <5

  Unnamed: 12
0         NaN
1      Source
2      GLOTIP
3      GLOTIP
4      GLOTIP

In [2]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
df = df.drop(0).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
1,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

In [3]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,167

In [4]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', np.nan)
df['Sex'] = df['Sex'].str.capitalize()
df['Sex'] = df['Sex'].replace('Unknown',np.nan)

In [5]:
print(df['Sex'].unique())

[nan 'Female' 'Male' 'Other']

In [6]:
df['Sex'].value_counts(dropna=False)

Sex
NaN       33456
Female    11846
Male      11677
Other      1790
Name: count, dtype: int64

In [20]:
print(df['Age'].unique())

['Total' '0 to 17 years' '18 years or over' 'Unknown']

In [21]:
import numpy as np

df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': np.nan,
    'Unknown': np.nan
})

In [22]:
print(df['Age'].unique())

[nan 'Minor' 'Adult']

In [26]:
df['Age'].value_counts(dropna=False)

Age
NaN      32579
Adult    13571
Minor    12619
Name: count, dtype: int64

In [7]:
df.shape[0]

58769

In [24]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})
df['Nr_of_victims'].nunique()

1490

In [9]:
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,NaN,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,NaN,Total,2013,167

In [17]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()

In [20]:
df1.head()

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2008,<5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,Total,2017,<5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,Total,2018,<5

In [21]:
df1.shape

(39485, 10)

In [25]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)

In [26]:
df1.head()

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,NaN,Total,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,NaN,Total,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,NaN,Total,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,NaN,Total,2018,2.5

In [27]:
df1.shape

(39485, 10)

In [28]:
df1['Nr_of_victims'].unique()

array([2.5, '15', '7', ..., '957', '1,497', '1,698'], dtype=object)

In [30]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace(',','')

In [32]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')

In [33]:
df1['Nr_of_victims'].unique()

array(['2.5', '15', '7', ..., '957', '1497', '1698'], dtype=object)

In [35]:
df1.dtypes

Country          object
Region           object
Subregion        object
Indicator        object
Dimension        object
Category         object
Sex              object
Age              object
Year             object
Nr_of_victims    object
dtype: object

In [36]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)
print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

The new data type of the 'Nr_of_victims' column is: float64

In [37]:
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y')
df1.dtypes

Country                  object
Region                   object
Subregion                object
Indicator                object
Dimension                object
Category                 object
Sex                      object
Age                      object
Year             datetime64[ns]
Nr_of_victims           float64
dtype: object

In [39]:
df1.shape

(39485, 10)

In [40]:
df1['Dimension'] = df['Dimension'].replace('Total', np.nan)

In [41]:
df1['Category'] = df['Category'].replace('Total', np.nan)