In [ ]:
import pandas as pd

In [44]:
files = [
	"00_completion_rate_percentage",
	"01_avg_time_spent_per_step",
	"02_error_rate_percentage",
	"03_step_completion_rate_percentage"
]
experiments = ["both", "control", "test"]

In [51]:
results = {}
for file in files:
	print(file)
	results[file] = pd.DataFrame()
	result = [pd.read_csv(f"../data/sql/output/{file}_{experiment}.csv").assign(source=experiment) for experiment in experiments]
	results[file] = pd.concat(result)
	results[file].reset_index(inplace=True)
	display(results[file])

00_completion_rate_percentage

,index,completed_clients,total_clients,completion_rate_percentage,source
0,0,81145,120157,67.53,both
1,0,29105,43633,66.70,control
2,0,18682,26961,69.29,test

01_avg_time_spent_per_step

    index process_step  avg_time_seconds   source
0       0       step_1             49.04     both
1       1       step_2             51.50     both
2       2       step_3            104.89     both
3       3      confirm            143.62     both
4       0       step_1             51.17  control
5       1       step_2             51.20  control
6       2       step_3            100.39  control
7       3      confirm            140.29  control
8       0       step_1             46.71     test
9       1       step_2             51.58     test
10      2       step_3            102.54     test
11      3      confirm            143.59     test

02_error_rate_percentage

   index  error_rate_percentage   source
0      0                   2.32     both
1      0                   2.31  control
2      0                   2.31     test

03_step_completion_rate_percentage

    index process_step  num_visits  completion_rate_percentage   source
0       0        start      145835                      100.00     both
1       1       step_1      120122                       82.37     both
2       2       step_2      105145                       72.10     both
3       3       step_3       95874                       65.74     both
4       4      confirm       90638                       62.15     both
5       0        start       56584                      100.00  control
6       1       step_1       44282                       78.26  control
7       2       step_2       38033                       67.22  control
8       3       step_3       34586                       61.12  control
9       4      confirm       31295                       55.31  control
10      0        start       33206                      100.00     test
11      1       step_1       28334                       85.33     test
12      2       step_2       24552                       73.94     test
13      3       step_3       22236                       66.96     test
14      4      confirm       21785                       65.61     test