In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_excel('SYB66.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [4]:
data #984 rows and 7 columns

,Region,Area,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul..."
...,...,...,...,...,...,...,...
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul..."
979,722,SIDS,2015,Gross domestic expenditure on R&D: as a percen...,1.1,NaN,"United Nations Educational, Scientific and Cul..."
980,722,SIDS,2015,Researchers per million inhabitants (FTE),812.1,NaN,"United Nations Educational, Scientific and Cul..."
981,722,SIDS,2020,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul..."
982,722,SIDS,2020,Researchers per million inhabitants (FTE),893.2,NaN,"United Nations Educational, Scientific and Cul..."

In [4]:
data['Year'].min()

2000

In [5]:
data['Year'].max()

2021

In [6]:
#LOWER CASE COLUMN
def lower_case_column(df: pd.DataFrame):
    df.columns = df.columns.str.lower()
    return df

data = lower_case_column(data)

In [7]:
# CATEGORY COLUMN
def categorize_series(df, col_name='series'):
    df['category'] = df[col_name].apply(lambda x: 'R&D' if 'r&d' in x.lower() else 'Researchers')
    return df


data = categorize_series(data)

In [8]:
data.head()

,region,area,year,series,value,footnotes,source,category
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul...",R&D
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul...",Researchers
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul...",R&D
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul...",R&D

In [9]:
filtered_data_researchers = data[data['category'].str.contains('Researchers', case=False, na=False)]
filtered_data_researchers

filtered_data_rd = data[data['category'].str.contains('R&D', case=False, na=False)]
filtered_data_rd

,region,area,year,series,value,footnotes,source,category
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R&D: as a percen...,1.5,NaN,"United Nations Educational, Scientific and Cul...",R&D
2,1,"Total, all countries or areas",2010,Gross domestic expenditure on R&D: as a percen...,1.6,NaN,"United Nations Educational, Scientific and Cul...",R&D
4,1,"Total, all countries or areas",2015,Gross domestic expenditure on R&D: as a percen...,1.7,NaN,"United Nations Educational, Scientific and Cul...",R&D
6,1,"Total, all countries or areas",2020,Gross domestic expenditure on R&D: as a percen...,1.9,NaN,"United Nations Educational, Scientific and Cul...",R&D
8,15,Northern Africa,2005,Gross domestic expenditure on R&D: as a percen...,0.3,NaN,"United Nations Educational, Scientific and Cul...",R&D
...,...,...,...,...,...,...,...,...
973,199,LDC§,2020,Gross domestic expenditure on R&D: as a percen...,0.3,NaN,"United Nations Educational, Scientific and Cul...",R&D
975,722,SIDS,2005,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul...",R&D
977,722,SIDS,2010,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul...",R&D
979,722,SIDS,2015,Gross domestic expenditure on R&D: as a percen...,1.1,NaN,"United Nations Educational, Scientific and Cul...",R&D
981,722,SIDS,2020,Gross domestic expenditure on R&D: as a percen...,1.0,NaN,"United Nations Educational, Scientific and Cul...",R&D

In [10]:
display(filtered_data_researchers)

,region,area,year,series,value,footnotes,source,category
1,1,"Total, all countries or areas",2005,Researchers per million inhabitants (FTE),907.2,NaN,"United Nations Educational, Scientific and Cul...",Researchers
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
5,1,"Total, all countries or areas",2015,Researchers per million inhabitants (FTE),1160.0,NaN,"United Nations Educational, Scientific and Cul...",Researchers
7,1,"Total, all countries or areas",2020,Researchers per million inhabitants (FTE),1341.8,NaN,"United Nations Educational, Scientific and Cul...",Researchers
9,15,Northern Africa,2005,Researchers per million inhabitants (FTE),472.9,NaN,"United Nations Educational, Scientific and Cul...",Researchers
...,...,...,...,...,...,...,...,...
974,199,LDC§,2020,Researchers per million inhabitants (FTE),76.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
976,722,SIDS,2005,Researchers per million inhabitants (FTE),609.5,NaN,"United Nations Educational, Scientific and Cul...",Researchers
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul...",Researchers
980,722,SIDS,2015,Researchers per million inhabitants (FTE),812.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
982,722,SIDS,2020,Researchers per million inhabitants (FTE),893.2,NaN,"United Nations Educational, Scientific and Cul...",Researchers

In [11]:
filtered_data_Researchers_2005 = filtered_data_researchers[filtered_data_researchers['year'] == 2010]
filtered_data_Researchers_2005

,region,area,year,series,value,footnotes,source,category
3,1,"Total, all countries or areas",2010,Researchers per million inhabitants (FTE),1022.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
11,15,Northern Africa,2010,Researchers per million inhabitants (FTE),500.9,NaN,"United Nations Educational, Scientific and Cul...",Researchers
19,202,Sub-Saharan Africa,2010,Researchers per million inhabitants (FTE),81.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
27,21,Northern America,2010,Researchers per million inhabitants (FTE),3957.9,NaN,"United Nations Educational, Scientific and Cul...",Researchers
35,419,Latin America & the Caribbean,2010,Researchers per million inhabitants (FTE),430.3,NaN,"United Nations Educational, Scientific and Cul...",Researchers
...,...,...,...,...,...,...,...,...
937,860,Uzbekistan,2010,Researchers per million inhabitants (FTE),545.0,NaN,"United Nations Educational, Scientific and Cul...",Researchers
945,862,Venezuela (Boliv. Rep. of),2010,Researchers per million inhabitants (FTE),204.0,NaN,"United Nations Educational, Scientific and Cul...",Researchers
962,432,LLDCs,2010,Researchers per million inhabitants (FTE),135.9,NaN,"United Nations Educational, Scientific and Cul...",Researchers
970,199,LDC§,2010,Researchers per million inhabitants (FTE),60.1,NaN,"United Nations Educational, Scientific and Cul...",Researchers
978,722,SIDS,2010,Researchers per million inhabitants (FTE),722.0,NaN,"United Nations Educational, Scientific and Cul...",Researchers

In [12]:
list(data.columns)

['region',
 'area',
 'year',
 'series',
 'value',
 'footnotes',
 'source',
 'category']

In [13]:
data[['Area', "Year", "Series"]]

KeyError: "None of [Index(['Area', 'Year', 'Series'], dtype='object')] are in the [columns]"

In [ ]:
data["Area"].nunique

In [ ]:
data.iloc[0]["Series"]

In [ ]:
data.iloc[982]["Series"]

In [ ]:
data.describe() #numerical columns

In [ ]:
data.describe(include="object")

In [ ]:
data.describe(include="all")
# 169 areas

In [ ]:
type(data.info())

In [ ]:
data.nunique()

In [ ]:
data.Year.unique()

In [ ]:
data.Area.unique()

In [ ]:
data.select_dtypes(include='number').head(10)

In [ ]:
data.select_dtypes(include='number').max()

In [ ]:
data['Series'].value_counts()

In [ ]:
data.sort_values(by=["Area","Series"], ascending=[True, False])

In [ ]:
data.isna().any()
# We have missing values only in the column Footnotes

In [ ]:
data.isna().sum(axis=0)

In [ ]:
data.dropna(axis=1)

In [ ]:
data.duplicated().any()

In [ ]:
data.duplicated(subset=['Region']).sum()
#814 regions?

In [ ]:
data.columns

In [ ]:
data.columns= ["Region", "Area/Country", "Year", "RDRes", "Value", "Footnotes", "Source"]

In [ ]:
data.columns

In [ ]:
rd_mapping = {'Gross domestic expenditure on R&D: as a percentage of GDP': 0, 'Researchers per million inhabitants (FTE)': 1} 
data['rd_mapped'] = data['RDRes'].map(rd_mapping)
data.tail()

In [ ]:
data['rd_mapped'].value_counts()

In [ ]:
condition = data.rd_mapped ==0
condition

In [ ]:
filtered_data = data[condition]
filtered_data

In [ ]:
filtered_data[filtered_data['Value'].between(0,1)]

In [ ]:
filtered_data[filtered_data['Value'].between(1.1,2)]

In [ ]:
filtered_data[filtered_data['Value'].between(2.1,3)]

In [ ]:
filtered_data[filtered_data['Value'].between(3.1,4)]

In [ ]:
filtered_data[filtered_data['Value'].between(4.1,5)]

In [ ]:
filtered_data[filtered_data['Value'].between(5.1,6)]

In [ ]:
pivot_fdata = filtered_data.pivot_table(index='Area/Country', columns='Year', values=['Value'], aggfunc='sum')

In [ ]:
pivot_fdata

In [ ]:
data_multiindex = filtered_data.set_index(['Area/Country', 'Year'])
data_multiindex

In [ ]:
data_multiindex.index

In [ ]:
stacked_data = data_multiindex.stack()
stacked_data

In [ ]:
unstacked_data = stacked_data.unstack('Year')
unstacked_data.head(20)

In [ ]:
filtered_data['Value'].mean()

In [ ]:
filtered_data.head()

In [ ]:
filtered_data['Value'].min()

In [ ]:
filtered_data['Value'].max()

In [ ]:
grouped = filtered_data.groupby('Area/Country')
grouped

In [ ]:
for name, group in grouped:
    print(f"Group name: {name}")
    print(group)

In [ ]:
grouped.groups

In [ ]:
grouped.size()

In [ ]:
grouped.get_group('Mexico').head(10)

In [ ]:
grouped.get_group("Zambia").head(10)

In [ ]:
numeric_columns = filtered_data.select_dtypes(np.number).columns
filtered_data.groupby('Area/Country')[numeric_columns].mean()

In [ ]:
filtered_data.groupby(['Area/Country', "Year"])['Value'].mean()

In [ ]:
sns.histplot(filtered_data['Year'], bins=10)

In [ ]:
sns.histplot(filtered_data['Value'], bins=10)

In [ ]:
condition2= data.rd_mapped==1
condition2

In [ ]:
filtered_data2=data[condition2]
filtered_data2

In [ ]:
sns.histplot(filtered_data2['Value'], bins=10)
# Researchers per million inhabitants

In [ ]:
filtered_data2['Value'].value_counts()

In [ ]:
filtered_data2[filtered_data2['Value'].between(0,1000)]

In [ ]:
filtered_data2[filtered_data2['Value'].between(1001,2000)]

In [ ]:
filtered_data2[filtered_data2['Value'].between(2001,3000)]

In [ ]:
filtered_data2[filtered_data2['Value'].between(3001,90000)]

In [ ]:
filtered_data2.describe()
# 1738 investigadores en promedio en el mundo por cada millón de habitantes

In [ ]:
sns.scatterplot(x = "Year", y = "Value", data = filtered_data2)

In [ ]:
sns.scatterplot(x = "Year", y = "Value", data = filtered_data)

In [ ]:
df_numerical = filtered_data.select_dtypes(include = ['float64', 'int64'])

for idx in df_numerical.columns:
    df_numerical.plot(kind='scatter',
          x=idx,
          y='Value')

In [ ]:
sns.boxplot(x='Year', y='Value', data=filtered_data)

In [ ]:
sns.boxplot(x='Year', y='Value', data=filtered_data2)

In [ ]:
df=pd.DataFrame(data)

In [ ]:
result=pd.DataFrame()

In [ ]:
result["Area/Country"]= data["Area/Country"]
result["Year"]= data["Year"]
result['GDP'] = df['Value'][df.index % 2 == 0].reset_index(drop=True)
result['Researchers'] = df['Value'][df.index % 2 == 1].reset_index(drop=True)

In [ ]:
print(result)

In [ ]:
result.head(10)

In [ ]:
result["Researchers"].head(10)

In [ ]:
result

In [ ]:
data.RDRes.unique()