In [22]:
import pandas as pd
import numpy as np

imdb_games_data = pd.read_csv(r'C:\Users\Cecilia\Downloads\ironhack\coursework\group work\group project week3\first_project_cfg\data\raw\imdb-videogames.csv')

imdb_games_data.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [23]:
imdb_games_data.reset_index(drop=True, inplace=True)
imdb_games_data.columns = [c.lower().strip() for c in imdb_games_data.columns.values.tolist()]
imdb_games_data.head()

,unnamed: 0,name,url,year,certificate,rating,votes,plot,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [24]:
# Filter the DataFrame for the year 2024
# Replace 'year' with the actual name of the year column in your DataFrame
imdb_games_2024 = imdb_games_data[imdb_games_data['year'] == 2024]

# Reset the index of the filtered DataFrame
imdb_games_2024.reset_index(drop=True, inplace=True)

# Display the filtered DataFrame
imdb_games_2024.head()

,unnamed: 0,name,url,year,certificate,rating,votes,plot,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
0,288,Wolverine,https://www.imdb.com/title/tt15399960/?ref_=ad...,2024.0,M,NaN,NaN,Wolverine embarks on an adventure,True,True,False,False,False,False,False,False,False
1,1076,Half-Life: Through the City,https://www.imdb.com/title/tt14876082/?ref_=ad...,2024.0,Not Rated,NaN,NaN,20 years after the Black Mesa incident G-man a...,True,True,False,False,False,False,False,True,False
2,5547,Saint Paulia,https://www.imdb.com/title/tt11885796/?ref_=ad...,2024.0,NaN,NaN,NaN,The current plot is unknown.,True,True,False,False,False,False,False,True,False
3,5739,Silver Surfer the video game,https://www.imdb.com/title/tt19768076/?ref_=ad...,2024.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
4,6495,Punisher the video game,https://www.imdb.com/title/tt19512564/?ref_=ad...,2024.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False

In [25]:
# Drop the 'Unnamed: 0' column
imdb_games_2024.drop(columns=['unnamed: 0', 'url'], inplace=True)

# Display the filtered DataFrame without dropped columns
imdb_games_2024.head()

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_12524\1757983505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_games_2024.drop(columns=['unnamed: 0', 'url'], inplace=True)

,name,year,certificate,rating,votes,plot,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
0,Wolverine,2024.0,M,NaN,NaN,Wolverine embarks on an adventure,True,True,False,False,False,False,False,False,False
1,Half-Life: Through the City,2024.0,Not Rated,NaN,NaN,20 years after the Black Mesa incident G-man a...,True,True,False,False,False,False,False,True,False
2,Saint Paulia,2024.0,NaN,NaN,NaN,The current plot is unknown.,True,True,False,False,False,False,False,True,False
3,Silver Surfer the video game,2024.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
4,Punisher the video game,2024.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False

In [26]:
unique_states = imdb_games_2024['name'].unique()
print(unique_states)

['Wolverine' 'Half-Life: Through the City' 'Saint Paulia'
 'Silver Surfer the video game' 'Punisher the video game'
 'Deathmatch Classic: Refragged' 'Project: Dark'
 'Batman and Robin the video game' 'PixelWave Island'
 'Memory Trees: Forget Me Not' 'The Game of Earth' 'Cycle of Souls'
 'Project Excision']

In [27]:
unique_states = imdb_games_2024['year'].unique()
print(unique_states)

[2024.]

In [28]:
unique_states = imdb_games_2024['certificate'].unique()
print(unique_states)

['M' 'Not Rated' nan]

In [29]:
unique_states = imdb_games_2024['rating'].unique()
print(unique_states)

[nan]

In [30]:
unique_states = imdb_games_2024['votes'].unique()
print(unique_states)

[nan]

In [31]:
unique_states = imdb_games_2024['plot'].unique()
print(unique_states)

['Wolverine embarks on an adventure'
 '20 years after the Black Mesa incident G-man awakes Adrian Shephard and sends him into City 17 during the first days of the Uprising. Throughout his journey Shephard is going to encounter a... See full summary »'
 'The current plot is unknown.' 'Add a Plot'
 'Deathmatch Classic: Refragged is a remake/continuation of Deathmatch Classic built in the Source Engine with new maps, game modes, weapons, quality of life improvements and more!. It is not... See full summary »']

In [32]:
imdb_games_2024.drop(columns=['votes', 'plot', 'rating'], inplace=True)

# Display the filtered DataFrame without dropped columns
imdb_games_2024.head()

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_12524\1122365026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_games_2024.drop(columns=['votes', 'plot', 'rating'], inplace=True)

,name,year,certificate,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
0,Wolverine,2024.0,M,True,True,False,False,False,False,False,False,False
1,Half-Life: Through the City,2024.0,Not Rated,True,True,False,False,False,False,False,True,False
2,Saint Paulia,2024.0,NaN,True,True,False,False,False,False,False,True,False
3,Silver Surfer the video game,2024.0,NaN,True,False,False,False,False,False,False,False,False
4,Punisher the video game,2024.0,NaN,True,False,False,False,False,False,False,False,False

In [33]:
# Convert the 'year' column to integer
imdb_games_2024['year'] = imdb_games_2024['year'].astype(int)

# Display the updated DataFrame
imdb_games_2024.head()

C:\Users\Cecilia\AppData\Local\Temp\ipykernel_12524\3970686966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_games_2024['year'] = imdb_games_2024['year'].astype(int)

,name,year,certificate,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
0,Wolverine,2024,M,True,True,False,False,False,False,False,False,False
1,Half-Life: Through the City,2024,Not Rated,True,True,False,False,False,False,False,True,False
2,Saint Paulia,2024,NaN,True,True,False,False,False,False,False,True,False
3,Silver Surfer the video game,2024,NaN,True,False,False,False,False,False,False,False,False
4,Punisher the video game,2024,NaN,True,False,False,False,False,False,False,False,False

In [34]:
# Specify the path where you want to save the CSV
save_path = r'C:\Users\Cecilia\Downloads\ironhack\coursework\group work\group project week3\first_project_cfg\data\clean'

In [35]:
imdb_games_2024.to_csv('imdb_games_2024_clean')